<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'SouthSide App' + ${title == null ? '' : ' :: ' + title}">SouthSide App</title>
</head>


<body>

<div th:fragment="page-header">
    <ul class="topnav">
        <!-- TODO add hrefs to the list below. -->
        <li><a th:href = "@{/user/home}">Home</a></li>
        <li><a th:href="@{/search/all}">See All Activities</a></li>
        <li><a th:href = "@{/search}">Search Activities</a></li>
        <li><a th:href="@{/}">My List</a></li>
        <li><a th:href="@{/}">Send a Note</a></li>
        <li><a th:href="@{/}">Log Out</a></li>
  <!--      <li><a th:href="@{/}">Back</a></li> -->

    </ul>
</div>

<div th:fragment="page-header_es">
    <ul class="topnav">
        <!-- TODO add hrefs to the list below. -->
        <li><a th:href = "@{/home}">Inicio</a></li>
        <li><a th:href="@{/search/all}">Ver Todos Actividades</a></li>
        <li><a th:href = "@{/search}">Buscar</a></li>
        <li><a th:href="@{/}">Mi lista</a></li>
        <li><a th:href="@{/}">Enviar el maestro/a</a></li>
        <li><a th:href="@{/}">Salir</a></li>
    <!--    <li><a th:href="@{/}">De vuelta</a></li>  -->

    </ul>
</div>

</body>
</html>l>