<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: page-header_staff"></div>
    <h1 th:text="${title}">Default Title</h1>


<!-- THIS FORM IS FOR TEACHERS TO REVIEW, EDIT AND REMOVE ACTIVITIES -->

    <table class="table">

        <tr>
            <th>Activity</th>
            <th>Description</th>
            <th>Subject</th>
            <th>Age Range</th>
            <th>When/Where</th>
            <th>Entered by</th>
        </tr>
    <tr th:each="activity : ${activities}">
        <td th:text="${activity.eName}">Name</td>
        <td th:text="${activity.eDescription}">Description</td>
        <td th:text="${activity.eSubject}">Subject</td>
        <td th:text="${activity.eAges}">Subject</td>
        <td th:text="${activity.eWhere}">When/Where</td>
        <td th:text="${activity.teacher}">Teacher</td>


        <td><a th:href="@{'/activity/edit/' + ${activity.id}}">Edit Activity(TBD)</a><p></p>
            <a th:href="@{'/skill/add-to-activity/' +${activity.id}}">Add Skill to Activity</a>
        </td>
    </tr>
    </table>

    <p><a href = "/activity/add">Add Another</a></p>

</body>
</html>