<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>


<form method ="post" th:object="${user}" action="/user/home" style="max-width:600px;">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" name="username" />


    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" name="password" type="password"/>

    </div>
    <div class="form-group">
        <label th:for="verify">Verify password</label>
        <input class="form-control"  type="password"  name="verify" />
        <p th:text="${error}" class="error"></p>
    </div>
        <h3>Language / Idioma</h3>
    <div class="form-group">
       <span>
          <input type="radio" name="language" th:value="EN" />
            <label>English</label>
        </span>
        <span>    <input type="radio"  name="language" th:value="ES" />
            <label>Espanol</label>
        </span>

    </div>


<input type = "submit" value="Login" />
    </div>
</form>

</body>
</html>

<!-- TESTING LANGUAGE SWITCHING
<form method="post" action="/user/login">
<div>
    <label th:for="lang">Choose language/same in Spanish</label>
    <input class="form-control"  th:type="text"  th:name="lang" />

</div>

DON'T THINK I NEED THIS AT ALL FOR LOGIN
<form method ="post" th:object="${loginForm}" style="max-width:600px;">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{user.username}" />


    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="*{user.password}" type="password"/>

    </div>
    <div class="form-group">
        <label th:for="verify">Verify password</label>
        <input class="form-control"  type="password"  name="verify" />
        <p th:text="${error}" class="error"></p>
    </div>
    <div class="form-group">
        <label th:for="language">Language</label>
        <input class="form-control" th:field="*{language}" type="text"/>


    </div>


    -->